.big-number {
  font-size: 36px;
}

.green {
  color: green;
}

.red {
  color: red;
}

p-tooltip {
  white-space: pre-line; /* Allow line breaks for newline characters */
}

.big-number {
  font-size: 2rem;
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

